/* ------------- CSS General ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

header {
  background-color: rgb(112, 85, 85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
}
#check {
  display: none;
}

.checkbtn {
  font-size: 25px;
  color: red;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

header nav ul {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.seccion-1 {
  background-color: #fff;
  padding: 2em;
  display: flex;
}

.portada  {
  width: 80%;
}

.seccion-2 img {
  width: 100%;
}

.container-trabajos {
  padding: 1.5em;
}

.trabajos-titulo {
  display: inline-block;
  color: rgb(56, 56, 26);
  font-size: x-large;
  padding-bottom: 0.8em;
}

.trabajos {
  display: flex;
  justify-content: space-between;
}

.trabajo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trabajo img {
  width: 40%;
  border-radius: 20px;
}

.trabajo li {
  color: #ddca1c;
}


/* ------------- Encabezado Contacto ------------- */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  margin: 10px auto;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"], .form-row input[type="email"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;


  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;


  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;


  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;


  color: #ffffff;
  background-color: #5995da;


  border: none;
  border-radius: 3px;


  padding: 10px 40px;
  cursor: pointer;
}


.form-row button:hover {
  background-color: #76aeed;
}


.form-row button:active {
  background-color: #407fc7;
}

footer {
  background-color: rgb(112, 85, 85);
  padding: 1em;
}

.contacto {
  color: #ddca1c;
  padding-bottom: 1em;
}

.contacto-enlaces {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {

  .checkbtn {
    display: block;
  }

  header nav ul {
    position: fixed;
    width: 100%;
    height: 10vh;
    background: #2c3e50;
    text-align: center;

    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }

  #check:checked ~ ul {
    left: 0;
    display: block;
  }

  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    font-size: 20px;
  }

  .seccion-1 {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .acerca-de {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .seccion-1 :nth-child(2) {
    display: flex;
    justify-content: center;
  }

  .portada {
    display: block;
    width: 80%;
  }

  .container-trabajos .trabajos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .trabajos p {
    display: block;
    width: 80%;
  }

  .trabajo {
    display: flex;
    justify-content: center;
  }

  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"], .form-row input[type="email"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .form-row textarea {
    width: 250px;
  }
  .form-row button {
    margin-left: 120px;
    width: 250px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}